.vscode/
!.vscode/extensions.json
graphify-out/
database/flyway.toml
node_modules/
dist/
dist-ssr/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
*.local
.DS_Store
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.github